@import "tailwindcss";

html,
body {
  line-height: 1.6 !important;
}

.background-header {
  background: linear-gradient(to right, #0f3e5a, #14547a, #14557d);
}

.swiper-pagination-bullet {
  background: white !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background: #d29015 !important;
}

.background-linear-blue {
  background: linear-gradient(to top,
      rgba(20, 67, 97, 0.8),
      rgba(20, 67, 97, 0.8),
      rgba(166, 200, 217, 0));
}

.border-gradient-yellow {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
  /* để cắt gradient theo border-radius */
}

.border-gradient-yellow::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 6px;
  /* độ dày border */
  border-radius: inherit;
  background: linear-gradient(to right, #d09b4e, #fddd9b, #fffee5, #d09b4e, #fddd9b);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.background-linear-black {
  background: linear-gradient(to top,
      rgba(23, 22, 22, 0.8),
      rgba(109, 108, 108, 0.8),
      rgba(0, 0, 0, 0));
}

.bg-text-yellow {
  background: linear-gradient(to right, #D09B4E, #FDDD9B, #FFFEE5);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.bg-yellow {
  background: linear-gradient(to right, #efcf7f, #ecd497, #ece9e3, #e1ad45);
}

/* mxp-box */

.mapboxgl-popup-content {
  padding: 20px 20px 12px 20px !important;
}

.mapboxgl-popup-close-button {
  top: 2px !important;
  right: 4px !important;
  font-size: 20px !important;
  margin: 4px;
  padding: 0 4px !important;
}

.mapboxgl-popup {
  max-width: 320px !important;
}

@media (min-width: 768px) {
  .mapboxgl-popup {
    max-width: 480px !important;
  }
}

.background-linear-yellow {
  background: linear-gradient(to right, #fef6e8, #fffcf6);
}

.content_section ul {
  list-style-type: disc;
  padding-left: 1rem;
}

.clamp-html * {
  display: inline !important;
  line-height: 1.5;
  /* để tránh dính chữ */
}

.content_projects img {
  max-width: 100%;
  height: auto;
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 12px;
}

.content_projects h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center !important;
}

.content_projects p {
  margin-bottom: 1rem;
  line-height: 1.6;
}

.mySwiper .swiper-wrapper {
  width: 50%;
}