@import "tailwindcss";

.background-header {
  background: linear-gradient(to right, #0f3e5a, #14547a, #14557d);
}

.background-linear-blue {
  background: linear-gradient(
    to top,
    rgba(20, 67, 97, 0.8),
    rgba(97, 166, 201, 0.8),
    rgba(166, 200, 217, 0)
  );
}

.background-linear-black {
  background: linear-gradient(
    to top,
    rgba(23, 22, 22, 0.8),
    rgba(109, 108, 108, 0.8),
    rgba(0, 0, 0, 0)
  );
}